.js-plotly-plot .plotly .modebar {
    padding-top: 5%;
    margin-right: 3.5%;
  }
  
  body {
    background-color: #f2f2f2;
    margin: 5%;
  }
  
  .two.columns {
    width: 16.25%;
  }
  
  .column,
  .columns {
    margin-left: 0.5%;
  }
  
  .pretty_container {
    border-radius: 5px;
    background-color: #fdfdfd;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
  }

  .pretty_container_line {
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    display: 'inline-block';
  }
  
  .bare_container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  
  .dcc_control {
    margin: 0;
    padding: 5px;
    width: calc(100%-40px);
  }
  

  .control_center {
    padding: 0 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: calc(100%-40px);
    align-items: center;
  }
  

  .rc-slider {
    margin-left: 0px;
    padding-left: 0px;
  }
  
  .flex-display {
    display: flex;
  }
  
  .container-display {
    display: flex;
  }
  
  #individual_graph,
  #aggregate_graph {
    width: calc(100% - 30px);
    position: absolute;
  }
  
  #count_graph {
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
  }
  
  #countGraphContainer {
    flex: 5;
    position: relative;
  }
  
  #header {
    align-items: center;
  }
  
  #learn-more-button {
    text-align: center;
    height: 100%;
    padding: 0 20px;
    text-transform: none;
    font-size: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
  }
  #title {
    text-align: center;
  }
  
  .mini_container {
    border-radius: 5px;
    background-color: #fdfdfd;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
  }
  
  #right-column {
    display: flex;
    flex-direction: column;
  }
  
  #wells {
    flex: 1;
  }
  
  #gas {
    flex: 1;
  }
  
  #aggregate_data {
    align-items: center;
  }
  
  #oil {
    flex: 1;
  }
  
  #water {
    flex: 1;
  }
  
  #tripleContainer {
    display: flex;
    flex: 3;
  }
  
  #mainContainer {
    display: flex;
    flex-direction: column;
  }
  
  #pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
    pointer-events: all;
    transform: translate(30px, 349px);
  }


  .modal {
    display: block; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  .markdown-container {
    width: 60vw;
    margin: 10% auto;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .close-container {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .markdown-text {
    padding: 0px 10px;
  }
  
  .closeButton {
    padding: 0 15px;
    font-weight: normal;
    float: right;
    font-size: 1.2rem;
    border: none;
    height: 100%;
  }
  
  .closeButton:hover {
    color: red !important;
  }
  